<div class="mainDivCss">
    <mat-card class="example-card">
        <mat-card-header class="mat-card-header-css">
            <mat-card-title>Neck Exercise Timer</mat-card-title>
            <mat-card-subtitle>Timer Status:- {{status}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <countdown [config]="config" (event)="handleEvent($event)"></countdown>
            <p *ngIf="showText">Time To Do Neck Exercise</p>
        </mat-card-content>
        <mat-card-actions class="buttonActionsCss">
            <button mat-raised-button color="primary" (click)="onStart()">Start</button>
            <button mat-raised-button color="warn" (click)="onStop()">Stop</button>
            <button mat-raised-button color="accent" (click)="handleAccordion()">
                {{ buttonText}}
            </button>
        </mat-card-actions>
        <mat-accordion class="example-headers-align" multi>
            <mat-expansion-panel>
                <mat-form-field class="formFieldCss">
                    <mat-label>Enter Time Value In Minutes</mat-label>
                    <input type="number" matInput [(ngModel)]="textValue">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="onChangeTimerValue()">
                    Change Timer Value
                </button>
                <p *ngIf="showConfirmText" style="margin-top: 10px; color: green;">Timer Value Updated</p>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-card>
</div>